[Unit]
Description=Issue boiler commands to achieve temperature target
After=network.target

[Service]
ExecStart=/usr/local/bin/maintaintemp emon_sensors/emonth5 heating/zone/target/0xAAA1 0xAAA1
User=boilerio
Group=boilerio
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

