[Unit]
Description=Issue boiler commands to achieve temperature target
After=network.target

[Service]
ExecStart=/usr/local/bin/maintaintemp
User=boilerio
Group=boilerio
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

