[Unit]
Description=Heating scheduler
After=network.target
Wants=maintaintemp.service

[Service]
ExecStart=/usr/local/bin/scheduler
User=boilerio
Group=boilerio
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
