body {
    font-family: roboto, helvetica, sans-serif;
    background-color: #eee;
    max-width: 500px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/*
 * Title and extended title section
 */

div#app {
    overflow: hidden;
    position: relative;
    padding-top: 56px;
}

div#title {
    background-color: #03bc89;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    max-width: 500px;
    width: 100%;
    height: 56px;
    z-index: 2;
    padding-left: 16px;
    padding-top: 16px;
    box-sizing: border-box;
    display: inline-flex;
    vertical-align: middle;
    color: white;
    font-size: 20px;
}

div#title i {
    width: 56px;
}

div#title a,
div#title a:active {
    color: white;
}

div#current {
    padding: 24px;
    padding-bottom: 12px;
    box-sizing: border-box;
    background-color: #a6fce4;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    z-index: 1;
}

/* The current and target temperature area: */
div#current h1 {
    font-size: 16pt;
    margin-top: 12pt;
    margin-bottom: 0;
}

div#current span#current {
    font-size: 48pt;
    font-weight: bold;
    margin-bottom: 12px;
}

div#current span#target {
    font-size: 24pt;
    color: #04bc89;
    margin-bottom: 12px;
}

div#current p {
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 0;
}

/*
 * Body of app
 */

div.page {
    background-color: white;
    width: 100%;
    margin-top: 0;
    padding-top: 24px;
}

div.page table {
    width: 100%;
    border-collapse: collapse;
    padding-left: 0;
}

div.page > :not(table) {
    padding-left: 24px;
    padding-right: 24px;
}

/*
 * Cards and tables
 */

div.card, div.tablecard {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 24px;
    padding-bottom: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 97%;
}

div.tablecard {
    padding-left: 0;
    padding-right: 0;
}

div.card h1,
div.tablecard h1
div.page h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 12px;
    text-align: left;
}

div.tablecard h1 {
    margin-left: 24px;
}

div.tablecard table {
    border-collapse: collapse;
    width: 100%;
}

div.page td,
div.tablecard td {
    margin: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: rgba(0,0,0,0.8);
    font-size: 16px;
}

div.page td:first-child,
div.tablecard td:first-child {
    padding-left: 24px;
    height: 48px;
}

div.page tr.head td,
div.tablecard tr.head td {
    color: rgba(0,0,0,0.54);
    height: 56px;
    border-top: 0;
}

.active td {
    background-color: #a6fce4;
}

/*
 * Input field styles
 */

input[type="button"],
input[type="submit"],
button{
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
    border: 0;
    vertical-align: center;
    -webkit-appearance: none;
    font-size: 14px;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
}

input[type="button"].highlight,
input[type="submit"].highlight,
button.highlight {
    color: white;
    background-color: #03bc89;
}

input[type="button"].flat,
input[type="submit"].flat,
button.flat {
    color: #03bc89;
    background-color: white;
}

input[type="button"].flat:focus,
input[type="submit"].flat:focus,
button.flat:focus {
    background-color: rgba(3, 188, 137, 0.2);
}

input[type="button"].flat:active,
input[type="submit"].flat:active,
button.flat:active {
    background-color: rgba(3, 188, 137, 0.4);
}

input[type="button"].raised,
input[type="submit"].raised,
button.raised {
    background-color: #03bc89;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button.floating {
    display: inline-block;
    background-color: #03bc89;
    outline: 0;
    border: 0;
    position: absolute;
    top: 260px;
    right: 12px;
    overflow: hidden;
    z-index: 1;
    width: 64px;
    height: 64px;
    line-height: 56px;
    padding: 0;
    padding-top: 12px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: white;
}

button.floating:focus {
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.24),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

button.floating:active {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

input[type="number"]:focus, input[type="time"]:focus {
    border-bottom: 2px solid #03bc89;
    color: #03bc89;
}

input[type="number"], input[type="time"] {
    padding: 0 0 0 3px; /* Hack for alignment in desktop Chrome;
                         * https://stackoverflow.com/q/25879941 */
    vertical-align: middle;
    outline: 0;
    border: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0,0,0, 0.42);
    height: 24px;
    width: 80px;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
}

div.buttons {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: 0;
}

/*
 * Modal dialog
 */

div.page div.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

div.page div.modal-content {
    position: relative;
    display: table;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 80%;
    max-width: 400px;
    background-color: white;
    padding-left: 24px;
    padding-right: 4px;
    padding-top: 0;
    box-sizing: border-box;
    box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.25),
                0 -2px 3px 2px rgba(0, 0, 0, 0.10);
}

div.modal-content .buttons {
    padding-right: 0;
    padding-top: 24px;
}

div.modal-content h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 12px;
}
